<div class="background-container">
    <div class="background-fox"></div>
     <!-- <div class="background-cloud-0"></div>
    <div class="background-cloud-1"></div>
    <div class="background-cloud-2"></div>
    <div class="background-cloud-3"></div>
    <div class="background-star-0" style="top: 25vh; right: 4vh"></div>
    <div class="background-star-1" style="top: 15vh; left: 14vh"></div>
    <div class="background-star-2" style="top: 44vh; left: 5vh"></div>
    <div class="background-star-3" style="top: 45vh; right: 9vh"></div>
    <div class="background-star-4" style="top: 9vh; right: 20vh"></div>
    <div class="background-star-5" style="top: 35vh; left: 12vh"></div>
    <div class="background-balloon-0"></div>
    <div class="background-balloon-1"></div>-->
</div>
